@import './base.css';
@import './navbar.css';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  height: auto;
}
.banner_keeper {
  width: 100%;
  height: auto;
}

.container_keeper_items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  border-radius: 30px;
  border: black solid 1px;
  grid-template-columns: repeat(3, 1fr);
}
.img_class_homepage {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button_add_to_shop {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background: #FEBD00;
  border: none;
  border-radius: 12px;
}
.button_add_to_shop:hover {
  cursor: pointer;
}
.button_add_to_shop svg {
  height: 40px;
}
.button_add_to_shop p {
  height: 40px;
}
.container_button {
  display: flex;
  justify-content: space-around;
}
